<div class="alert-container" [ngClass]="alertType">
  <div class="icon-container" *ngIf="alertType === 'success'; else failureIcon">
    <mat-icon class="icon icon-thumb-up" matSuffix>thumb_up</mat-icon>
  </div>
  <div class="message">
    <p>{{ message }}</p>
  </div>
  <div (click)="onClose()" class="close-button">
    <mat-icon class="icon" matSuffix>clear</mat-icon>
  </div>
</div>
<ng-template #failureIcon>
  <div class="icon-container">
    <mat-icon class="icon icon-thumb-down" matSuffix>thumb_down</mat-icon>
  </div>
</ng-template>
